<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados dos clientes</title>
</head>
<body>
    <main>
        <h2>Context com variavel</h2>
        <h1>{{ msg }}</h1>

        <h2>Context com dicionario</h2>
        <ul>
            <li>Nome: {{ lista_clientes.nome }}</li>
            <li>Idade: {{ lista_clientes.idade }}</li>
            <li>Nascimento: {{ lista_clientes.nascimento }}</li>
        </ul>
        
        <hr>
        <h2>Context com lista</h2>
        <ol>
            {%  for nome in dados  %}
                <li>{{ nome }}</li>
            {% endfor  %}
        </ol>



         <ol>
            {%  for carros in meus_carros  %}
                <li>Marca: {{ carros.marca }}</li>
                <li>Modelo: {{ carros.modelo }}</li>
                <li>Ano: {{ carros.ano }}</li>
                <hr>
            {% endfor  %}
        </ol>

    </main>
</body>
</html>