<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <!-- Context - -->
        <h1>{{ titulo }}</h1>

        <table border="1"> <!-- Inicia a tabela -->
            <thead> <!-- Cabeçalho da tabela-->
                <tr><!-- Linha dentro do cabeçalho -->
                    <th>Nome: </th> <!-- Celula primeira coluna -->
                    <th>Campus: </th> <!-- Celula da segunda coluna -->  
                    <th>Ações</th>     
                </tr>
            </thead>

            <tbody> <!-- Corpo da tabela -->                
                
                {%  for aluno in alunos  %}
                <tr> <!-- Inicia a tabela -->
                    <td>{{ aluno.nome }}</td>
                    <td>{{ aluno.campus.nome }}</td>                   
                    <td>
                        <button>Edição</button>
                        <button>Excluir</button>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>



    </main>
</body>
</html>