{% extends "base.html" %}

{%  block content %}
<h1 class="titulo_clientes">{{ titulo }}</h1>
    <table>
        <thead>
            <tr>
                <th>Numero: </th>
                <th>Cliente: </th>
                <th>CPF:</th>
                <th>Saldo: </th>
            </tr>
        </thead>
        <tbody>
            {% for conta in contas %}
            <tr>
                <td>{{ conta.numero }}</td>
                <td>{{ conta.cliente.nome }}</td>
                <td>{{ conta.cliente.cpf }}</td>
                <td>{{ conta.saldo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}